* {
	margin: 0;
	font-size: 1.1rem;
}
.main-page {
	text-align: center;
	margin: 0 2em;
}

.create-form {
	padding: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	height: 70vh;
	margin: 3em auto;
	background-color: #f6e6e6;
	border-radius: 15px;
	border: 2px solid black;
}
.flex-sec {
	width: 70%;
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.description label {
	align-self: flex-start;
}
textarea {
	height: 15em;
	border: 2px solid black;
}

form input,
textarea {
	padding: 0.5em;
	width: 20em;
	border-radius: 5px;
	text-indent: 0.3em;
}
textarea::placeholder {
  transform: translateY(20px); /* move the placeholder down */
}

form button {
	width: auto;
	font-size: 1.3rem;
	padding: 0.6em;
	border-radius: 10px;
	margin: 3em;
	background-color: #965050;
	align-self: flex-start;
}

form label{
    font-size: 1.3rem;
    font-weight: bold;
}
