* {
	margin: 0;
	font-size: 1.1rem;
}
.main-page {
	text-align: center;
	margin: 0 2em;
}

.create-form {
    padding: 3em;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 60%;
	height: 70vh;
	margin: 3em auto;
	background-color: rgb(132, 14, 14);
	border-radius: 15px;
	border:1px solid black;
	
}
.flex-sec fullname {
	width: 70%;
	margin-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-sec description{
    align-self:flex-start;
}
textarea {
	height: 15em;
    border:2px solid black;
}

form input,
textarea {
	padding: .3em;
	width: 20em;
	border-radius: 5px;
	text-indent: .3em;
}

form button{
    width: auto;
	display: flex;
	justify-content: space-between;
    font-size: 1.2rem;
    padding: .10px;
    border-radius: 10px;
    margin: 2px;
    background-color:#6b5096;
    align-self: flex-start;
	
	
}
form label{
    font-size: 1.3rem;
    font-weight: bold;
}