* {
	margin: 0;
	font-size: 1.1rem;
}

.main-page {
	text-align: center;
	margin: 0 3em;
}

.card-sec {
	margin: 2em;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: auto;
	gap: 2em;
}

.energizer-box {
	margin-top: 3em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 70%;
	height: 40vh;
	padding: 1em;
	border-radius: 15px;
	cursor: pointer;
	border: 2px solid black;
}

.energizer-info-sec {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 70%;
	height: 30%;
	justify-self: flex-end;
	border-top: 1px solid black;
}

.energizer {
	/* hide text if it more than N lines  */
	overflow: hidden;
	/* for set '...' in absolute position */
	position: relative;
	/* use this value to count block height */
	line-height: 1.2em;
	/* max-height = line-height (1.2) * lines max number (3) */
	max-height: 6em;
	/* fix problem when last visible word doesn't adjoin right side  */
	text-align: justify;
	/* place for '...' */
	margin-right: -1em;
	padding-right: 1em;
}

/* create the ... */
.energizer:before {
	/* points in the end */
	content: "...";
	/* absolute position */
	position: absolute;
	/* set position to right bottom corner of block */
	right: 0;
	bottom: 0;
}

/* hide ... if we have text, which is less than or equal to max lines */
.energizer:after {
	/* points in the end */
	content: "";
	/* absolute position */
	position: absolute;
	/* set position to right bottom corner of text */
	right: 0;
	/* set width and height */
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	/* bg color = bg color under block */
	background: white;
}

.pagination {
	margin-top: 6em;
	display: flex;
	text-decoration: none;
	list-style-type: none;
	display: flex;
	justify-content: center;
}

.page-link {
	background-color: #ee4344;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 0;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	margin: 2px;
}

.page-link:hover,
.page-link:focus {
	background-color: #f19a9a;
}
