* {
    margin: 0;
    font-size: 1.1rem;
}

.main-page {
    text-align: center;
    margin: 0 3em;
}

.card-sec {
    margin: 2em;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 2em;
}

.numbers-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.energiser-box {
    width: auto;
    height: 22em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
    border-radius: 15px;
}