* {
	margin: 0;
	font-size: 1.1rem;
}
.main-page {
	text-align: center;
	margin: 0 3em;
}

.energizer-name {
	margin-top: 2em;
	font-size: 1.9rem;
}

.columns-delete-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 2px solid rgb(19, 79, 36);
}
.columns-sec {
	width: 95%;
	display: flex;
	justify-content: center;
	gap: 1em;
	height: 85vh;
	margin: 2em auto 0;
	border:1px solid blue;
}

.energizer-preview ,
.instruction{
	margin: 1em auto 0;
	width: 80%;
	height: 25em;
	border: 2px solid black;
	border-radius: 15px;
}

.episode-sec {
	display: flex;
	flex-direction: column;
	width: 75%;
	height:auto;
	align-self: flex-start;
	border:1px solid red;
}

.icons-wrapper{
	margin: 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-evenly;
}
.delete-sec{
	justify-self: flex-start;
	align-self: flex-start;
	border:1px solid violet;
}

.instruction-sec {
	width: 30%;
	height: 57vh;
	align-self: center;
	border:1px solid green;
}

.star-icon,
.heart-icon,
.share-icon{
	width: 1em;
}

.rating-sec,
.favorite-sec,
.share-sec{
	margin-top: 1em;
	padding: .5em;
	width:20%;
	display:flex;
	justify-content:space-between;
	align-items: center;
	margin-left: .2em;
	border: 1px solid orangered;
}

.feedback-rate{
	width: 70%;
	height: 2em;
	margin: 2em auto;
	display: flex;
	justify-content:space-between;
	border: 1px solid lightcoral;
	justify-self: flex-end;
}

.stars-sec{
	display: flex;
	align-items: center;
}


.instruction-title{
	font-size: 1.4rem;
}
.instruction{
	padding:2em 0.2em;
	height:auto;
	border:none;
}

.share-btn,
.fav-btn{
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.share-btn:hover,
.fav-btn:hover{
	color:rgb(55, 2, 2);
}
