
* {
	margin: 0;
	font-size: 1.1rem;
}
.main-page {
	text-align: center;
	margin: 0 3em;
}
/* ========
   NAvbar
=========== */
.logo {
	margin-top: 2em;
	width: 10em;
}
.logo-sec {
	width: 16em;
	margin: 0 auto 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 5.5vh;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.magnifier {
	width: 1em;
}

.login-icon {
	width: 2em;
	margin-right: 0.5em;
}

.login {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-right: 5.5em;
}

.page {
	color: black;
	margin: 0.8em;
}

.create-energiser {
	padding: 0.5em 2em;
	border-left: 2px solid black;
	border-right: 2px solid black;
}
.search-input {
	border-style: none;
}

.search-input:focus{
	outline: 0;
}
.search-wrapper{
	margin-left: 1em;
}
/* ========
   Main
=========== */
/* Our-Faves */
.faves-title,
.Whats-New-title {
	font-size: 1.8rem;
	margin: 2em 0;
	text-align: center;
}

.whats-new-name ,
.info-sec-name{
	font-size: 1.4rem;
	margin-top:.5em;
	text-decoration: none;
}
.energiser-info-sec {
	height: 30%;
	border-top: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}
.our-faves {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.energiser-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 20em;
	height: 22em;
	border: 2px solid black;
	border-radius: 15px;
}

.whats-new {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
}


.whats-new-box {
	/* margin: 3em; */
	width: 39em;
	height: 30em;
	border: 2px solid black;
	border-radius: 15px;
	margin-bottom: 1em;
}

.new-energiser-and-name-box h2 {
	font-size: 1.5rem;
	text-align: center;
}

/* ========
   Footer
=========== */
.footer {
	margin: 3em 0;
	height: 13vh;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.social-media {
	margin-top: 1em;
}
.social-media-logo {
	width: 2em;
	margin: 0 0.2em;
}
.sec2-footer {
	padding: 0.2em 2em;
	border-right: 2px solid black;
	border-left: 2px solid black;
}
