* {
	box-sizing: border-box;
}

.main-page {
	margin: 0;
	width: 98%;
}

/* ========
   NAvbar
=========== */

/* Nav bar Section */
.nav-bar {
	margin-top: 0.5em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: auto;
	box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, 0.5),
                inset 0 -7px 7px -7px rgba(0, 0, 0, 0.5);
	background-color: #f2eff0;
}

/* logo of the App */

.logo-sec {
	width: 20%;
	align-self: center;
}

.logo {
	width: 90%;
}
.pages-wrapper {
	width: 50%;
	display: flex;
	justify-content:center;
	align-items: center;
}
.page {
	font-size: 1.5rem;
	font-weight: 700;
	color: #231f20;
	margin: 0.5em;
	text-decoration: none;
}
.create-energizer {
	margin-left: 1.2em;
	margin-right: 1.2em;
}
.page:hover,
.login-icon:hover,
.magnifier:hover,
.login-wrapper:hover {
	color: rgb(238, 67, 68);
}

.page:hover,
.login-icon:hover,
.magnifier:hover,
.login-wrapper:hover,
.nav-bar__buttons:hover,
.button__login:hover,
.button__logout:hover {
	color: rgb(238, 67, 68) !important;
}
/* Search Bar */

.magnifier {
	color: #231f20;
	width: 1em;
	height: 1em;
	margin-right: 0.5em;
}
.search-input {
	border-style: none;
	background-color: transparent;
}

.search-input::placeholder {
	color: #231f20;
}
.search-input:focus {
	outline: 0;
}

.login-wrapper,
.search-wrapper,
.login-btn {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #231f20;
	text-shadow: 2px 2px 3px rgb(245, 223, 223);
}

.login-wrapper {
	font-weight: bold;
}
.login-icon {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
	color: #231f20;
}

/* =========================
   Main Section of HomePage
============================ */
/* hero */
.hero {
	display: flex;
	align-items: center;
	width: 95%;
	margin: 3em auto;
	height: 46em;
	border-radius: 15px;
	background-color: rgba(237, 67, 68, 0.8);
}
.hero-bckimg{
	width: 40%;
	height: 45em;
	margin-right:.5em;
    background-image:url("./Logo/Diversity.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center;
	border-radius: 20px;
}

.carousel-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 55%;
	height: 45.5em;
	margin: 1em auto;
}

.carousel-wrapper h1{
	color: white;
	font-size: 2rem;
	font-weight: 600;
	margin: 1.5em auto;
}

.slider{
	width: 90%;
	height: 35em;
	justify-self: center;
	cursor: pointer;
}
#slider-title{
	text-decoration: none;
}
.slider h2{
	text-decoration: none;
	font-size: 1.5rem;
	color: #231f20;
}

.slider h2:hover{
	color: white;
	font-size: 1.8rem;
}
.carousel-thumbnail{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 1em auto;
	width:90% ;
	height:25em;
	border-radius: 15px;
	border:1px solid white;
}

.carousel-thumbnail-preview{
	width: 100%;
	height: auto;
	max-height: 100%;
}

#slider-title{
	margin-top: 1em;
	text-decoration: none;
}
/* Titles */
.faves-title,
.Whats-New-title {
	font-size: 2.3rem;
	margin: 2em 0;
	text-align: center;
	color: #231f20;
}

.whats-new-name,
.info-sec-name {
	font-size: 1.4rem;
	margin-top: 0.5em;
	text-decoration: none;
	color: #000;
}

.whats-new-name {
	font-size: 2rem;
	font-weight: 500;
	color: #231f20;
}

.our-faves {
	width: 90%;
	margin: 2em auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 2em;
}
.fave-energizer-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width:15em;
	height: 40vh;
	padding: 1em;
	border-radius: 15px;
	cursor: pointer;
	background-color: rgb(246, 230, 230, 0.4);
	box-shadow: 2px 2px 10px rgba(35, 31, 32, 0.3);
}

.fave-thumbnail-preview{
	width:95%;
	height: 95%;
	max-height:auto;
	
}
.fave-energizer {
	width: 95%;
	/* hide text if it more than N lines  */
	overflow: hidden;
	/* for set '...' in absolute position */
	position: relative;
	/* use this value to count block height */
	line-height: 1.2em;
	/* max-height = line-height (1.2) * lines max number (3) */
	max-height: 6em;
	/* fix problem when last visible word doesn't adjoin right side  */
	text-align: justify;
	/* place for '...' */
	margin-right: -1em;
	padding-right: 1em;
}


.fave-energizer-info {
	min-height: 30%;
	border-top: 1.5px solid rgb(238, 67, 68);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.whats-new {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2em;
}

.most-recent-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.most-recent-new-wrapper {
	width: 40vw;
}

.most-recent-new-energizer {
	padding: 2em;
	height: 30em;
	margin-bottom: 1em;
	border-radius: 15px;
	background-color: rgb(246, 230, 230, 0.4);
	box-shadow: 2px 2px 10px rgba(35, 31, 32, 0.3);
	/* border: 1px solid rgb(238, 67, 68); */
}
.fave-thumbnail{
	width: 100%;
	height:100%
}

/* ========
   Footer
=========== */
.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 3em;
	margin-bottom: 1em;
	height: auto;
	box-shadow: inset 0 7px 7px -7px rgba(0, 0, 0, 0.5),
                inset 0 -7px 7px -7px rgba(0, 0, 0, 0.5);
	background-color: #f2eff0;
}

.social-media {
	margin-top: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.social-media-logo {
	width: 1.5em;
	height: 1.5em;
	margin: 0 0.2em;
	border-radius: 50%;
}
.twitter {
	width: 1.8em;
	height: 1.8em;
}
.sec2-footer {
	margin: .4em 1em;
	padding: 0.2em 2em;
}

/* ================
   Smaller Screen
=================== */

/* For screens smaller than 768px (e.g., mobile devices) */
@media screen and (max-width: 768px) {
	.main-page{
		width: 90%;
		margin: 0 auto;
	}
  .nav-bar {
    flex-direction: column;
    height: auto;
  }
  .nav-sub-wrapper {
    width: 100%;
    margin-bottom: 1em;
  }
  .logo-sec {
    width: 100%;
    margin-bottom: 1em;
  }
  .pages-wrapper {
    width: 100%;
    margin-bottom: 1em;
    flex-direction: column;
  }
  .page {
    font-size: 1.2rem;
    margin: 0.3em 0;
  }
   .faves-title,
  .Whats-New-title {
    font-size: 1.5rem;
  }

  /* Limit width of content and hero section */
  .our-faves,
  .whats-new,
  .hero {
    max-width: 100%;
	justify-content: center;
	align-items:center;
  }

  /* Use a vertical layout */
  .our-faves,
  .whats-new {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fave-energizer-box{
	width: 60vw;
  }
    .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80vh;
    padding: 0 5%;
    background-image: url("./Logo/Diversity.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-wrapper {
    width: 50%;
    margin-right: 2%;
  }

  .hero h1 {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1em;
  }
}

/* For screens smaller than 576px */
@media screen and (max-width: 576px) {
  .page {
    font-size: 1rem;
  }
  hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 0 10%;
    background-image: url("./Logo/Diversity.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .carousel-wrapper {
    width: 100%;
    margin-bottom: 2em;
  }

  .hero h1 {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1em;
    text-align: center;
  }
}

/* login butons */
.nav-bar__buttons,
.button__login,
.button__logout {
	padding: 0;
	border: none;
	background: none;
	font-weight: 700;
	cursor: pointer;
}